.list-view {
    -fx-background-color: #d0d0d0;
    -fx-border-color: transparent #979797 transparent transparent;
    -fx-border-width: 1px;
}

.list-view:focused {
    -fx-background-insets: 0;
}

.list-cell:empty {
    -fx-background-color: #d0d0d0;
    -fx-cursor: pointer;
}

.list-cell {
    -fx-background-color: #d0d0d0;
    -fx-text-fill: #1f1f1f;
    -fx-min-height: 30px;
    -fx-font-weight: 900;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-border-radius: 5px;
}

.list-cell:filled:selected {
    -fx-background-color: #979797;
    -fx-border-radius: 5px;
    -fx-text-fill: #1f1f1f;
}

.list-cell:filled:selected:hover {
    -fx-background-color: #979797;
    -fx-border-radius: 5px;
}

.list-cell:filled:hover {
    -fx-background-color: #bababa;
    -fx-border-radius: 5px;
}

.scroll-pane:focused {
    -fx-background-color: #fff;
}

.scroll-pane {
    -fx-background-color: #fff;
}

.v-box {
    -fx-background-color: #fff;
}

.flow-pane {
    -fx-background-color: #fff;
}

.header {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#printButton {
    -fx-background-color: #979797;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#printButton:hover {
    -fx-background-color: #aeadad;
}

#exeButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#exeButton:hover {
    -fx-background-color: #52bd58;
}

.card {
    -fx-border-color: #979797;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.card:hover {
    -fx-background-color: #fbfbfb;
    -fx-cursor: hand;
}